@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

#Index{
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b34b6f;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffdff2;
    clip-path: circle(50% at bottom right);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .title{
    color: #f9c4d8;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation  li{
    list-style: none;
}
header .navegation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .text h2{
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
.content .text h2 span{
    font-size: 3.5em;
    color: #0e0d0d;
}
.content .text p{
    color: #fff9fd;
}
.content .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #701334;
    color: #ffd4ec;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.content .text a:hover{
    transform: translateY(-10px);
}
.boxImg{
    position: absolute;
    right: 0;
    bottom: -10px;
}
.boxImg img{
    width: 500px;
}

.boxImg .img1{
    padding-bottom: 5rem;
    padding-right: 2rem;
}
footer {
    * {
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        letter-spacing: 1px;
    }
    main {
        height: 80vh;
    }
    footer {
        width: 100%;
        color: #fbcde5;
    }
    .footer-link {
        text-decoration: none;
    }
    #footer_content {
        background-color:rgb(133, 37, 88);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem 3.5rem;
        color: #ffb9d1;
    }
    #footer_contacts h1 {
        margin-bottom: 0.75rem;
    }
    #footer_social_media {
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;
    }
    #footer_social_media .footer-link {
        display: inline-block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
    }
    #footer_social_media .footer-link:hover {
        opacity: 0.8;
    }
    #instagram {
        background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    }
    #imgInsta{
        width: 2rem;
    }
    #facebook {
        background-color: #4267b3;
    }
    #imgFb{
        width: 3rem;
    }
    #whatsapp {
        background-color: #25d366;
    }
    #imgWpp{
        width: 2rem;
    }
    #gmail {
        background: linear-gradient(#3739c9,#e62a2a, #f84903, #04960b);
    }
    #imgGmail{
        width: 2rem;
    }
    
    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        list-style: none;
        color: #f8d9ee;
    }
    
    .footer-list .footer-link {
        color: #f8d9e5;
        transition: all 0.4s;
    }
    
    .footer-list .footer-link:hover {
        color: #f8d9ea;
    }
    #footer_copyright {
        display: flex;
        justify-content: center;
        background-color: rgb(133, 37,88);
        font-size: 0.9rem;
        padding: 1.5rem;
        font-weight: 100;
        color: #ffbccb;
    }
    
    @media screen and (max-width: 768px) {
        #footer_content {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
    
    @media screen and (max-width: 426px) {
        #footer_content {
            grid-template-columns: repeat(1, 1fr);
            padding: 3rem 2rem;
        }
    }
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
}

#Pg1{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
    }
    section{
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #230033de;
        overflow: hidden;
    }
    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .title{
        color: #e9dfff;
    }
    header .navegation ul{
        position: relative;
        display: flex;
    }
    header .navegation  li{
        list-style: none;
    }
    header .navegation li a{
        display: inline-block;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        font-size: 19px;
        margin-left: 100px;
    }
    .content{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .content .text{
        position: relative;
        margin-right: 20px;
        text-align: center;
    }
    .content .text p{
        color: #fff;
    }
    .content .text a{
        display: inline-block;
        margin-top: 50px;
        padding: 10px 25px;
        background: #8c00ff;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        border-radius: 40px;
        transition: 0.3s ease-in-out;
    }
    .content .text a:hover{
        transform: translateY(-10px);
    }
    footer {
        * {
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            letter-spacing: 1px;
        }
        main {
            height: 80vh;
        }
        footer {
            width: 100%;
            color: #e9d9f8;
        }
        .footer-link {
            text-decoration: none;
        }
        #footer_content {
            background-color:rgb(27, 1, 51);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 3rem 3.5rem;
            color: #e9d9f8;
        }
        #footer_contacts h1 {
            margin-bottom: 0.75rem;
        }
        #footer_social_media {
            display: flex;
            gap: 2rem;
            margin-top: 1.5rem;
        }
        #footer_social_media .footer-link {
            display: inline-block;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition:  0.3s ease-in-out;
        }
        #footer_social_media .footer-link:hover {
            opacity: 0.8;
        }
        #instagram {
            background: linear-gradient(#7f37c9, #ff2992, #ff9807);
        }
        #imgInsta{
            width: 2rem;
        }
        #facebook {
            background-color: #4267b3;
        }
        #imgFb{
            width: 3rem;
        }
        #whatsapp {
            background-color: #25d366;
        }
        #imgWpp{
            width: 2rem;
        }
        #gmail {
            background: linear-gradient(#3739c9,#e62a2a, #f84903, #04960b);
        }
        #imgGmail{
            width: 2rem;
        }
        
        .footer-list {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            list-style: none;
            color: #e9d9f8;
        }
        
        .footer-list .footer-link {
            color: #e9d9f8;
            transition: all 0.4s;
        }
        
        .footer-list .footer-link:hover {
            color: #e9d9f8;
        }
        #footer_copyright {
            display: flex;
            justify-content: center;
            background-color: rgb(27, 1, 51);
            font-size: 0.9rem;
            padding: 1.5rem;
            font-weight: 100;
            color: #e9d9f8;
        }
        
        @media screen and (max-width: 768px) {
            #footer_content {
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
            }
        }
        
        @media screen and (max-width: 426px) {
            #footer_content {
                grid-template-columns: repeat(1, 1fr);
                padding: 3rem 2rem;
            }
        }
    }
}

#Pg2{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway', sans-serif;
    }
    section{
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #230033b4;
        overflow: hidden;
    }
    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .title{
        color: #e9dfff;
    }
    header .navegation ul{
        position: relative;
        display: flex;
    }
    header .navegation  li{
        list-style: none;
    }
    header .navegation li a{
        display: inline-block;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        font-size: 19px;
        margin-left: 100px;
    }
    .content{
        position: relative;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    .Tabela{
        border-collapse: collapse;
        width: 100%;
        color: #e9d9f8;
        font-size: 1.2em;
        align-items: center;
        td,th{
            border: 2px solid rgba(62, 31, 92, 0.884);
        }
        tr:nth-child(1){
            background-color: rgba(62, 31, 92, 0.884);
            
        }
    }